.sub-btn {
  background-color: rgb(185, 15, 15);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 2px;
  /* width: 105px; */
  margin-right: 8px;
  transition: opacity 0.15s;
}

.sub-btn:hover {
  cursor: pointer;
  opacity: 70%;
}

.sub-btn:active {
  opacity: 40%;
}

.join-btn {
  background-color: white;
  border-color: rgb(21, 21, 212);
  border-style: solid;
  border-width: 1px;
  color: rgb(21, 21, 212);
  /* border: 1px solid blue; */
  border-radius: 2px;
  /* height: 36px;
  width: 60px; */
  padding: 10px 15px;
  margin-right: 8px;
  transition: background-color 0.15s, color 0.15s;
}

.join-btn:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(21, 21, 212);
}

.join-btn:active {
  opacity: 70%;
}

.tweet-btn {
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: rgb(0, 183, 255);
  border: none;
  border-radius: 18px;
  /* height: 36px;
  width: 75px; */
  padding: 10px 18px;
  transition: box-shadow 0.15s;
}

.tweet-btn:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.container {
  margin-top: 12px;
}

.req-btn {
  color: white;
  background-color: black;
  padding: 12px 10px;
  /* width: 100px;
  height: 40px; */
  border: none;
  margin-right: 8px;
  transition: opacity 0.15s;
}

.req-btn:hover {
  cursor: pointer;
  opacity: 50%;
}

.cart-btn {
  font-size: 15px;
  font-weight: bold;
  color: black;
  background-color: rgb(255, 216, 20);
  border: none;
  border-radius: 20px;
  /* height: 35px;
  width: 180px; */
  padding: 10px 40px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.15s;
}

.cart-btn:hover {
  opacity: 80%;
}

.signup-btn {
  color: white;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(46, 164, 79);
  padding: 12px 18px;
  /* width: 90px;
  height: 40px; */
  border: none;
  border-radius: 5px;
  transition: box-shadow 0.15s;
}

.signup-btn:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.boot-btn {
  color: white;
  font-size: 14px;
  font-weight: bold;
  background-color: rgb(121, 82, 179);
  /* width: 112px;
  height: 45px; */
  padding: 15px 18px;
  border: none;
  border-radius: 5px;
  margin-right: 8px;
  transition: opacity 0.15s;
}

.boot-btn:hover {
  cursor: pointer;
  opacity: 70%;
}

.download-btn {
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  color: rgb(108, 117, 125);
  border-style: solid;
  border-color: rgb(108, 117, 125);
  border-radius: 5px;
  padding: 15px 18px;

  transition: color 0.15s, background-color 0.15s;
}

.download-btn:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(108, 117, 125);
}

.linkedin-btn {
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: rgb(10, 102, 194);
  padding: 12px 18px;
  border: none;
  border-radius: 18px;
  margin-right: 8px;
  transition: opacity 0.15s;
}

.linkedin-btn:hover {
  cursor: pointer;
  opacity: 70%;
}

.save-btn {
  font-size: 14px;
  font-weight: bold;
  color: rgb(10, 102, 194);
  background-color: white;
  border-color: rgb(10, 102, 194);
  border-style: solid;
  border-radius: 18px;
  padding: 10px 18px;
  transition: color 0.15s, background-color 0.15s;
}

.save-btn:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(10, 102, 194);
}
